<!DOCTYPE html>
<html>
<head>
  <title>DECTroulette</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='dectroulette64.png') }}">
</head>
<body>
  {% block content %}{% endblock %}
  <footer>
    <p>If you want get your number blocked from any further registrations or just want to leave some feedback, please call <a href="tel:3589">3589</a> or contact <a href="https://chaos.social/@fluxx">@fluxx@chaos.social</a>.</p>
    <p>DECTroulette is <a href="https://github.com/codedust/dectroulette">free software</a>.</p>
  </footer>
</body>
</html>
